/* tasks */
/* .main__tasks {
}
.tasks {

} */
.tasks__header {
  width: 100%;
  margin-bottom: 34px;
}

.tasks__header-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 8px 50px;
}
.tasks__title {
  font-size: 30px;
}

.tasks__clear {
  font-size: 20px;
  padding: 3px 35px 3px 3px;
  position: relative;
}
.tasks__clear:hover {
  /* background: hsl(237, 100%, 90%); */
  color: #6D6D6D;
}
.tasks__clear::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background-color: var(--btn-icon); /* Меняем цвет иконки */
  mask-image: url('img/tasks/delete.svg');
  -webkit-mask-image: url('img/tasks/delete.svg');
}

.tasks__header hr{
  width: 100%;
  height: 1.5px;
  background: var(--line-color);
}



.tasks__list {
  display: flex;
  flex-direction: column;
  /* row-gap: 45px; */
  width: 100%;
}
.tasks__item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.tasks__task {
  padding: 13px 13px 20px 13px;
}
.task {
  width: 100%;
  border-radius: 10px;
  background: var(--content-color);
}
.task__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.task__top-left {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: 85%;
}

input[type="checkbox"] {
  accent-color: var(--settings-color);
  width: 40px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
}

/* .task__check {
  min-width: 40px;
  min-height: 40px;
  border-radius: 2px;
  background: #fff;
} */

/* input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  vertical-align: middle; 
}

input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  font-size: 25px;
  color: #007bff;
  text-align: center;
  display: flex;

  line-height: 20px;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 22px;
  color: #007bff;
  font-weight: bold;
  transform: translate(-50%, -50%) scale(1);
} */

.task__title {
  font-size: 25px;
  width: fit-content;
  max-width: 85%;
  color: var(--text-color);
  position: relative;
  word-wrap: break-word;
} 
.anim-title-complete {
  animation: grayText .5s forwards;
  animation-delay: .5s;
}
.task__title-completed {
  position: absolute;
  top: 55%;
  left: 0;
  width: 0;
  height: 3px;
  background: #1c1c1c;
  border-radius: 2px;
  animation: lineOnTitle .5s forwards;
  
}

@keyframes lineOnTitle {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes grayText {
  0% {
    color: var(--text-color);
  }
  100% {
    color: #686868;
  }
}

.task__option {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background: rgba(217, 219, 255, 0.5);
  position: relative;
}
.task__option::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-image: url('img/tasks/option.svg');
}
.task__bottom {
  width: 100%;
  padding: 0 56px;
}
.task__describe {
  background: var(--second-color);
  border-radius: 8px;
  padding: 7px 20px;
  font-size: 18px;
  word-wrap: break-word;

}
.tasks__add {
  width: 418px;
  padding: 20px 28px;
  background: var(--content-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  font-size: 25px;
  /* margin-bottom: 30px; */
  transition: .2s;
}
.tasks__add-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  color: gray
}

.tasks__add:hover {
  background: var(--task-add-hover);
}
 
.tasks__add:hover .tasks__add-circle{
  background: #eaeaea;
}
.tasks__add:active {
  background: var(--task-add-active);
}
 
.tasks__add:active .tasks__add-circle{
  background: #f5f5f5;
}
 


/*  create-task */

.tasks__task-create {
  padding: 20px 65px 20px 42px;
}

.create-task__col {
  padding-right: 22px;
}

.create-task__title {
  margin-bottom: 8px;
}

.create-task__input {
  padding: 6px 20px;
  background: #fff;
  border-radius: 8px;
  color: #1c1c1c;
  
  max-width: 100%;
  min-width: 100%;
  max-height: 100px;
  min-height: 30px;

  margin-bottom: 15px;
}
.create-task__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.btn-with-plus {
  padding: 5px 10px 5px 25px;
  position: relative;
  color: var(--light-text-color);
  /* background: var(--main-color); */
  border-radius: 10px;

}
.btn-with-plus::before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 25px;
  transform: translateY(-60%);
}
.create-task__btns {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.m15 {
  margin-bottom: 15px;
}
.create-task__btn-cancel {
  font-size: 20px;
  color: var(--text-color);
}
.create-task__btn-cancel:hover {
  text-decoration: underline;
}

.create-task__btn-create {
  padding: 4px 12px;
  /* background: var(--main-color); */
  font-size: 20px;
  color: #000;
  border-radius: 10px;
}


/* deadline */

.task__deadline {
  position: relative;
  top: 5px;
  font-size: 20px; 
  margin-right: 10px;

}
.create-task__actions {
  min-width: 50px; 
}

.hidden-btn {
  position: absolute;
  opacity: 0;
}


.create-task__deadline {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.create-task__deadline-value {
  padding: 6px 16px;
  background: #ffff;
  color: #1c1c1c;
  width: 50px;
  font-size: 16px;
  text-align: left;
  border-radius: 8px;
}
.create-task__deadline-btns {
  display: flex;
  align-items: center;
  column-gap: 10px;
}


.btn-deadline {
  /* background: var(--btn-ui-main); */
  width: 30px;
  height: 30px;
  padding: 6px 10px;
  color: #000000;
  border-radius: 10px;
}


