.card__progress {
    border-radius: 1.25rem;
    border: 1px solid #d0d0d0;
    box-shadow: 2px 2px 8px #b5b5b5;
    width: 90%;
    height: 2.5rem;
    overflow: hidden;
  }
  .card__progress-in {
    width: 0%;
    height: 100%;
    background: rgba(7, 143, 5, 0.8);
    border-radius: 1rem;
    transition: .2s width, .3s border-radius;
  
    /* border-radius: 1rem 0 0 1rem; когда меньше 90% */
  }

  
  
  /* в будущем : если выбрать тумблер в настройках - 
  оптимизация для уменьшения потребления памяти,
  то менять сайдбар каждый процент времени, а не секунду
  или вообще его убрать */