.container-second {
    padding: 30px;
}
.container-second h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: var(--menu-font);

}
.container-second h3{
    font-size: 25px;
    margin-bottom: 5px;
    font-family: var(--menu-font);
}
.container-second p{
    font-family: var(--font-for-reading);
    font-size: 18px;
    margin-bottom: 15px;
}
.container-second ul,
.container-second ol {
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: var(--font-for-reading);


}
.container-second ol li:not(:last-child),
.container-second ul li:not(:last-child) {
    margin-bottom: 12px;
}

.container-second span {
    letter-spacing: 1px;
}

.container-second ul li{
    list-style-type: circle;
}


.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.auth h1 {
    font-size: 35px;
    margin-bottom: 15px;
}
.auth h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.auth a {
    text-decoration: underline;
    color: var(--text-color);
}
.auth span {
    margin-bottom: 5px;
}


.btn-arrow-home {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    border: 1px solid #d8d8d8;
    position: fixed;
    top: 35px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow-home::after {
    content: '';
    position: absolute;
    background-image: url('../../assets/completedTasks/arrowDown.svg');
    transform: rotate(90deg);
    width: 28px;
    height: 28px;   
}