@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

:root {
  --color-primary: #D9DBFF;
  --color-primary-light: #D9DBFF;
  --color-secondary: #A9ABD4; 
  --color-accent: rgba(0, 0, 0, 0.15); 
  
  --color-content: #1C1C1C;
  --color-content-dark: #1C1C1C;
  --color-content-muted: #393939;
  
  --color-action-primary: #D9DBFF;
  --color-action-primary-hover: #c3c6ff;
  --color-action-primary-active: #d6d8ff;
  
  --color-action-secondary: #B7B9D8;
  --color-action-secondary-light: #B7B9D8;
  --color-action-secondary-hover: #acaecc;
  --color-action-secondary-active: rgb(195, 197, 223);
  
  --color-accent-element: #1D1B20;
  --color-surface-element: #FFFFFF;
  
  --color-line: #6D6D6D;  
  --border-accent: rgba(0, 0, 0, 0.20);

  --color-third: #999BC6;
  --color-third-content: #484848;
}

.dark {
  --color-primary: #232529;   
  --color-secondary: #27292d; 
  --color-accent: rgba(100, 100, 100, 0.15); 
  
  --color-content: #EDEDED; 
  --color-content-muted: #2e2e2e;
  
  --color-action-primary:  rgba(217, 219, 255, 0.5);
  --color-action-primary-hover: rgba(217, 219, 255, 0.3);
  --color-action-primary-active: rgba(217, 219, 255, 0.4);
  
  --color-action-secondary: #393939;
  --color-action-secondary-hover: #2f2f2f;
  --color-action-secondary-active: #323232;
  
  --color-accent-element: var(--color-line);
  --color-surface-element: #838499;
  
  --color-line: #888888;  
  --border-accent: #3C3C3C;

  --color-third: #202125;
  --color-third-content: var(--color-line);
}

@theme {
  --font-primary: "Itim", "Itim Fallback", "literal", "literal Fallback", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-legal: "literal", "literal Fallback", sans-serif;
  --font-nav: "JetBrains Mono", monospace;

  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-content: var(--color-content);
  --color-content-dark: var(--color-content-dark);
  --color-content-muted: var(--color-content-muted);
  --color-accent-element: var(--color-accent-element);
  --color-surface-element: var(--color-surface-element);
  --color-action-secondary: var(--color-action-secondary);
  --color-action-secondary-light: var(--color-action-secondary-light);
  --color-action-secondary-hover: var(--color-action-secondary-hover);
  --color-action-secondary-active: var(--color-action-secondary-active);
  --color-line: var(--color-line);
  --color-accent-border: var(--border-accent);
  --color-third: var(--color-third);
  --color-third-content: var(--color-third-content);

  --breakpoint-xl: 87.5rem;
  --text-calc-medium: calc(22px + (25 - 22) * ((100vw - 375px) / (1440 - 375)));
  --text-calc-small: calc(20px + (25 - 20) * ((100vw - 375px) / (1440 - 375)));
  --shadow-card: 0 2px 2px rgba(0, 0, 0, 0.1);
  --shadow-card-active: 0 1px 2px rgba(0, 0, 0, 0.1);

  @keyframes linethrough {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes graytext {
    0% {
      color: var(--text-color);
    }
    100% {
      color: #686868;
    }
  }
}

@layer utilities {
  .main-wrapper {
    width: clamp(22rem, 58.3vw, 70rem);
    margin-inline: auto;
  }

  .content-wrapper {
    width: clamp(22rem, 51.3vw, 61.6rem);
    margin-inline: auto;
  }

  .custom-select {
    text-align: right;
    text-align-last: right;
  }

  .custom-select option {
    text-align: left;
  }

  .linethrough-text::after {
    content: '';
    position: absolute;
    top: 55%;
    left: 0;
    height: 3px;
    background: #1c1c1c;
    border-radius: 2px;
    animation: lineOnTitle .5s forwards;
  }
  
  .checkbox:checked ~ .linethrough-text::after {
    animation: linethrough 0.5s ease-in-out forwards;
  }
  .checkbox:checked ~ .gray-text {
    animation: graytext .5s .5s forwards;
  }
  .btn-ui {
    background: var(--color-action-primary);
    transition: background .3s;
  }
  .btn-ui:hover {
    background: var(--color-action-primary-hover);
  }
  .btn-ui:active {
    background: var(--color-action-primary-active);
  }
}

body {
  background: var(--color-primary);
  color: var(--color-content);
  font-family: var(--font-itim), var(--font-literal), sans-serif;
  overflow-x: hidden;
  line-height: 1.2;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}