/*  header header */
.header {
    background: var(--second-color);
    padding: 5px 0;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    font-size: 35px;
  
  }
  .header__right {
    display: flex;
    align-items: center;
    column-gap: clamp(15px, 1.5vw, 40px)
  }
  .header__item {
    display: flex;
    align-items: center;
  }
  .header__theme {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
  }
  .header__theme::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: var(--icon-theme);
    background-size: cover;
  }
  
  .button__menu {
    font-family: var(--menu-font);
    padding: 8px 34px 8px 8px;
    border-radius: 4px;
    position: relative;
    transition: .2s;
  }
  .button__menu::before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
  
  }
  
  .button__menu:hover {
    background: var(--menu-btn-hover);
  }
  .button__menu:active{
    background: var(--menu-btn-active);
  }
  
  /* .header__settings {
  } */
  .header__settings::before {
    mask-image: url('../../../assets/header/settings.svg');
    mask-position: center;
    mask-size: cover;
    background: var(--btn-icon);
  }