/* footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--second-color);
    padding: 5px 0;
  }
  
  .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .footer__item {
    display: flex;
    align-items: center;
  }
  
  .btn--icon1::before{
    mask-image: url('../img/footer/report.svg');
    mask-position: center;
    mask-size: cover;
    background: var(--btn-icon);
  }
  .btn--icon2::before{
    mask-image: url('../img/footer/trophy.svg');
    mask-position: center;
    mask-size: cover;
    background: var(--btn-icon);
  }