.modal-menu__bg {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    overflow: auto;
    padding-bottom: 90px;
}

.modal-menu {
    position: relative;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: clamp(350px, 95vw, 420px);
    padding: 25px 30px 15px 30px;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #444444;
    font-family: var(--menu-font);
}

.modal-menu__title {
    font-size: 30px;
    color: var(--text-color);
    text-align: center;
}

.column-modal-menu__title {
    font-size: 18px;
    letter-spacing: 0.05em;
    position: relative;
    margin-top: 24px;
    margin-bottom: 5px;
}
.column-modal-menu-line {
    width: 100%;
    height: 1px;
    background: var(--line-color);
    margin-bottom: 12px;
}
.column-modal-menu__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
}
.column-modal-menu__row input[type='number'] {
    border-radius: 6px;
    width: 60px;
    height: 32px;
    background: #b7b9d8;
    color: #1c1c1c;
    text-align: center;
}

.column-modal-menu__row:not(:last-child) {
    margin-bottom: 23px;
}

.modal-menu__close {
    width: 20px;
    height: 20px;
    background-image: var(--icon-close-settings);
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.modal-menu__btns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-menu__btns button {
    width: 85px;
}


.colum-modal-menu__item {
    margin-bottom: 11px;
    padding: 16px 27px 16px 16px;
} 
.item-modal-menu {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--color-item-modal-menu);
    color: #1c1c1c;
}

.item-modal-menu__stat {
    background: #B7B9D8;
    padding: 0 14px;
    border-radius: 6px;
}

.item-modal-menu__text-bg {
    background: var(--color-item-modal-text-bg);
    border-radius: 8px;
    padding: 0 13px;
}

.modal-menu__btns button:hover {
    text-decoration: underline;
}



/* ---------- */
.modal-menu-achivs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.modal-menu__achiv {} 
.achiv {
    flex: 1 1 45%;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    background: #F2F2FF;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
    color: #000000;

}
.achiv__i {
    background-repeat: no-repeat;
    background-position: center;
    width: 76px;
    min-height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.achiv__icon {
    background-image: url('../../assets/achievements/form.png');
}
.achiv__icon-lock {
    background-image: url('../../assets/achievements/formBlock.png');
}

.achiv__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.achiv__bottom-1 {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.achiv__title {
    font-size: 22px;
    text-align: center;
    font-family: var(--main-font);
}
.achiv__text {
    font-family: var(--menu-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 118%;
    text-align: center;
    margin-bottom: 4px;
}
.achiv__stat {
    width: 55px;
    padding: 4px;
    text-align: center;
    background: #b7b9d8;
    border-radius: 6px;
    margin: 0 auto;
}