/* footer */
.footer {
  padding: 40px 0 30px 0;
  width: 100%;
  background: var(--footer-bg);
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.footer__title {
  color: var(--text-color);
  font-size: 20px;
  margin-bottom: 16px;
}
.footer__list-follow {
  display: flex;
  column-gap: 25px;
  align-items: center;
}
.list-follow__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 33px;
  height: 33px;
}
.list-follow1 {
  background-image: url('../../../assets/footer/github.svg');
}
.list-follow2 {
  background-image: url('../../../assets/footer/instagram.svg');
}
.list-follow3 {
  background-image: url('../../../assets/footer/linkedin.svg');
}

.footer__links {
  display: flex;
  column-gap: 12px;
  margin-bottom: 18px;
}

.footer__links li {
  list-style-type: none;
  font-size: 14px;
  font-family: var(--menu-font);
}
.footer__links a {
  color: currentColor;
  text-align: center;
}
.footer__links a:hover {
  text-decoration: underline;
}

.footer__with-love {
  color: var(--footer-copy-color);
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.footer__copy{
  color: var(--footer-copy-color);
  font-size: 14px;
}