.settings-bg {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
}

.settings {
    flex: 0 1 420px;
    padding: 25px 30px;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #444444;
    font-family: var(--menu-font);
    position: relative;
}

.settings__title {
    font-size: 30px;
    color: var(--text-color);
    text-align: center;
}

.column-settings {}

.column-settings__title {
    font-size: 18px;
    letter-spacing: 0.05em;
    position: relative;
    margin-top: 26px;
    margin-bottom: 5px;
}
.column-settings__title-line {
    width: 100%;
    height: 1px;
    background: var(--line-color);
    margin-bottom: 15px;
}
.column-settings__row {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.column-settings__row input[type='number'] {
    border-radius: 6px;
    width: 60px;
    height: 32px;
    background: #b7b9d8;
    color: #1c1c1c;
    text-align: center;
}

.column-settings__row:not(:last-child) {
    margin-bottom: 23px;
}

.column-settings__label {}

.settings__btn-close {
    width: 20px;
    height: 20px;
    background-image: var(--icon-close-settings);
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}






.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #65558F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #65558F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

